body {
  /*height: 100%;
  width: 100%;*/
  color: #FFFFFF;
  background-color: #000000;
  font-weight:bold;
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
}

h3 {
  color: #666;
  font-size: 4vh;
}

#time {
  font-size: 30vh;
  line-height: 1;
}
#blinds {
  font-size: 12vh;
}

#chips {
  width: 32vh;
}
